version: '3.8'

services:
  login_client_service:
    build:
      context: ./clients/login
    container_name: login-client-container
    restart: unless-stopped
    depends_on:
      - backend_server_service
  landlord_client_service:
    build:
      context: ./clients/landlord
    container_name: landlord-client-container
    restart: unless-stopped
    depends_on:
      - backend_server_service
  backend_server_service:
    build:
      context: servers/backend
    container_name: backend-server-container
    volumes:
      - ./servers/backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      #- MONGO_URI='mongodb://root:example@database:27017/db?authSource=admin'
    depends_on:
      - database_service
  database_service:
    image: mongo:latest
    container_name: database-container
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db
  nginx_service:
    image: nginx:latest
    container_name: nginx-container
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - login_client_service
      - landlord_client_service
      - backend_server_service
volumes:
  mongo-data: